%h1 Blog
- @articles.each do |article|
  .row
    .small-9.columns
      .panel.radius
        %p Title: #{ link_to article.title, article_path(article) }
        - if policy(article).update?
          = link_to 'Edit', edit_article_path(article)
        -if policy(article).destroy?
          \|
          = link_to 'Destroy', article, method: :delete, data: { :confirm => 'Are you sure?' }
    .large-3.columns
      %ul.side-nav
        .panel.radius
          %li= link_to article.title

%br
- if user_signed_in?
  = link_to 'New Article', new_article_path

