.row
  .large-12.columns{:role => "content"}
    %h1 Blog
    %br/
    %article
      %h3
        = @article.title
      %h6
        Written by
        = @article.author.email
      .row
        .large-12.columns
          %p= simple_format @article.body
    %hr/
.row
  .large-9.columns
    = link_to 'Edit', edit_article_path(@article)
    \|
    = link_to 'Back', articles_path

    %p.status= "Status: #{@article.published? ? 'Published' : 'Unpublished'}"

    = render 'comments/form'

- policy_scope(@article.comments).each do |comment|
  = button_to 'Approve Comment', article_comment_path(@article, comment, comment: { approved: true }), method: :patch unless comment.approved
  = comment.content
  %p by #{comment.author}

