.row
  .small-9.columns
    .panel.radius
      %h3 Name: #{ link_to project.name, project_path(project) }
      %p= project.technologies_used
      = link_to 'Show', project_path(project)
      \|
      = link_to 'Edit', edit_project_path(project), id: "edit_project_link", remote: true
      \|
      = link_to 'Destroy', project_path(project), method: :delete,
        data: { :confirm => 'Are you sure?' }, remote: true
