<<<<<<< HEAD
#header-landing{"data-magellan-destination" => "home"}
  .fixed.sticky
   %nav.top-bar{"data-topbar" => true}
  .top-bar-section
    %ul.title-area
      %li.name
        %h1
          %a{:href => "index.html"}
            %i.fa.fa-bullseye
            = link_to "Reed's Portfolio", root_path
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
    = render 'layouts/navigation_links'
      %section#top-main-nav.top-bar-section.menus
        %ul.right.scroll-nav
          %li.active{"data-magellan-arrival" => "home"}
            = link_to 'Blog', articles_path
          %li{"data-magellan-arrival" => "services"}
            = link_to 'Projects', projects_path
          %li{"data-magellan-arrival" => "portfolio"}
            = link_to 'Log In', login_path
          %li{"data-magellan-arrival" => "team"}
            = link_to 'Sign up', signup_path
          - if user_signed_in?
            %li{"data-magellan-arrival" => "team"}
            = link_to 'Log out', logout_path
